<div class="container-fluid">
    <div class="mt-4">
        <table class="">
            <thead>
                <tr>
                    <th>Preview</th>
                    <th>Index</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Even</th>
                    <th>Odd</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of procuts; let i=index; let f=first; let l=last;let o=odd;let e=even" [class.odd]="o" [class.evens]="e">
                    <td> <img [src]="item.image" width="100" height="100" class="img-thumbnail m-3" > </td>
                    <td> {{i}}</td>
                    <td> {{f}}</td>
                    <td> {{l}}</td>
                    <td> {{e}}</td>
                    <td> {{o}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>